
  .quiz-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .quiz-app {
    display: flex;
    /* justify-content: flex-start; */
    border: 7px solid#5f4339;
    background-color: lightgoldenrodyellow;
    font-family: 'Courier New', Courier, monospace;
    width: 800px;
    min-height: 250px;
    height: min-content;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 40px;
    /* box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75); */
  }

  .quiz-score-section {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin: 0 auto;
    align-self: center;
    font-weight: bold;
    /* justify-content: center; */
    align-items: center;
  }

  /* QUESTION/TIMER/LEFT SECTION */

  .quiz-question-section {
    width: 100%;
    position: relative;
    color: black;
    font-weight: bold;
    padding: 10px;
  }

  .quiz-question-count {
    margin-bottom: 20px;
  }


 .quiz-question-count span {
    font-size: 32px;
  }

  .quiz-question-text {
    margin-bottom: 12px;
    font-size: 20px;
  }

  .timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
  }

  /* ANSWERS/RIGHT SECTION */
  .quiz-answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .quiz-button {
    width: 100%;
    font-size: 16px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    background-color:#DEFFDE;
    border-radius: 25px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #00695f;
    cursor: pointer;
  }

  .correct {
    background-color: #2f922f;
  }

  .incorrect {
    background-color: #ff3333;
  }

  .quiz-button:hover {
    background-color: #555e7d;
  }

  .quiz-button:focus {
    outline: none;
  }

  .quiz-button svg{
    margin-right: 5px;
  }
