.homedisplay__allsets-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.homedisplay__icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.homedisplay__likes {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-family: 'Courier New', Courier, monospace;
}

.homedisplay__singleset-container {
    display: flex;
    width: 350px;
    height: 350px;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
}
.homedisplay__set-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.homedisplay__set-title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;


}
.homedisplay__set-description {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    color: black;
    font-weight: bolder;
}
.homedisplay__set-subject {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    color: black;
}
.homedisplay__set-cardcount {
    font-family: 'Courier New', Courier, monospace;
    margin: 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-weight: bold;
}
/* .homedisplay__count {
    font-weight: bold;
} */
.homedisplay__links {
    text-decoration: none;
    display: flex;
}
.homedisplay__welcome {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    padding: 15px;
    display: flex;
    justify-content: center;
    color: "#000";
}

.navbar__home {
    display: flex;
    color: white;
    /* text-decoration: none; */
}
.navbar__title {
    text-decoration: none;
}
