body {
    background-color: rgb(163, 218, 210);
    margin: 0;
}
.cards-container {
    max-width: 100%;
    margin: 1rem 2rem;
}
.card-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 1rem;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0,0,0, .3);
    background-color: white;
    /* height: 200px; */
    /* min-width: 400px; */
    transform: perspective(1000px)
        rotateY(var(--rotate-y, 0))
        translateY(var(--translate-y, 0));
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 5px 2px rgba(0,0,0, .5);
    --translate-y: -2px;
}
.card.isFlipped {
    --rotate-y: 180deg;
}

.card .front,
.card .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
}
.card .back {
    transform: rotateY(180deg);
}

.card .front {
    left: 0;
    /* min-width: 279px; */
}
.card-deleteicon-front {
    position: absolute;
    right:0;
    top: 0;
    padding: 5px;
    z-index: 1;
}
.card-deleteicon-back {
    position: absolute;
    left:0;
    top: 0;
    padding: 5px;
    z-index: 0;
}
.setheader-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: lightgoldenrodyellow;
    /* border: 1px solid black; */

}
/* .addcard-button {
    position: absolute;
    left: 30px;
} */
.setheader-everything {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}
.setheader-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 470px;
    height: 200px;
    margin: 20px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 25px;
    background-color: lightgoldenrodyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.setheader-topline{
    display: flex;
    justify-content: space-between;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.setheader-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    height: 30%;

}
.setheader-title {
    font-size: 30px;
    padding: 7px;
}
.setheader-description {
    font-size: 20px;
    padding: 5px;
}
.setheader-creator {
    font-size: 17px;
    padding: 5px;
}
.setheader-cardcount {
    font-size:17px;
    padding: 5px;
}
